<div class="row">
  <div class="col-3">
    <h1>user profile</h1>
  </div>
  <div class="col-9">
    {{!-- Tweets --}}
    <h1>Tweets</h1>
    <div class="card my-1">
      <div class="row">
        <div class="col-2">
          <img src="https://fakeimg.pl/150x150/" alt="">
        </div>
        <div class="col-10 p-2">
          <h3>{{{tweet.id}}}</h3>
          <p>{{{tweet.description}}}</p>
        </div>
      </div>
    </div>
    {{!-- Replies --}}
    <h1>Replies</h1>
    {{#each replies}}
      <div class="card my-1">
        <div class="row">
          <div class="col-2">
            <img src="https://fakeimg.pl/150x150/" alt="">
          </div>
          <div class="col-10 p-2">
            <h3>{{{this.id}}}</h3>
            <p>{{{this.comment}}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>