<h1>GET /tweets</h1>
<div class="row">
  <div class="col-8">
    <form action="/tweets" method="POST">
      <textarea name="description" id="" cols="50" rows="5" placeholder="what's on your mind"></textarea><br />
      <button type="submit">Tweet</button>
    </form>
    <div class="container">
      {{#each tweets}}
        <div class="card">
          <h3>{{{this.id}}}</h3>
          <p>{{{this.description}}}</p>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="col-4">
    <h1>Popular</h1>
  </div>
</div>