<section class="mt-4" id="edit">
  <div class="container">
    <form class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <div class="mb-2">
          <img src="https://fakeimg.pl/300x300/" alt="avatar" style="height:150px;width:150px">
          <input type="file" class="mt-2" id="image" name="image">
        </div>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control mb-4" placeholder="Name">
        <textarea name="comment" class="md-textarea form-control" rows="6"
          placeholder="type anything about you here..."></textarea>
      </div>
      <div class="col-md-2"></div>
    </form>
  </div>
</section>